* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--verylightgray);
}

:root {
  --moderateblue: hsl(238, 40%, 52%);
  --softred: hsl(358, 79%, 66%);
  --lightgrayishblue: hsl(239, 57%, 85%);
  --palered: hsl(357, 100%, 86%);
  --darkblue: hsl(212, 24%, 26%);
  --grayishblue: hsl(211, 10%, 45%);
  --lightgray: hsl(223, 19%, 93%);
  --verylightgray: hsl(240, 2%, 89%);
  --white: hsl(0, 0%, 100%);
}

.hidden {
  display: none;
}

/* TYPOGRAPHY */

.username {
  font-weight: 700;
  color: var(--darkblue);
}

.comment-votes_total,
button {
  font-weight: 700;
  color: var(--moderateblue);
  font-size: 1rem;
}

.comment-content {
  line-height: 1.35rem;
}



/* COMMENT  */

.comment {
  margin: 1rem;
  padding: 1rem;
  color: var(--grayishblue);
  border-radius: 10px;
  background-color: var(--white);
}

.reply {
  color: var(--grayishblue);
  border-radius: 10px;
  background-color: var(--white);
  margin: 1rem;
  padding: 1rem;
}

.reply-container {
  margin-left: 1rem;
  border-left: solid 4px rgb(103, 114, 126, .1);

}

.comment-heading {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-avatar,
.username,
.date,
.tag {
  margin-right: .9rem;
}

.user-avatar {
  width: 2rem;
}

.tag {
  background-color: var(--moderateblue);
  color: var(--white);
  font-size: .75rem;
  font-weight: bold;
  padding: .15rem .5rem;
  border-radius: 4px;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.comment-votes {
  display: flex;
  font-weight: 500;
  border-radius: 10px;
  background-color: var(--verylightgray);
  padding: .15rem .5rem;
}

#plus-btn,
#minus-btn,
.comment-votes_total {
  background-color: var(--verylightgray);
  display: flex;
  padding: .5rem;
  border-radius: inherit;
  align-self: center;
} 

#plus-btn:hover,
#minus-btn:hover {
  background-color:hsl(238, 40%, 52%);
}

.reply-icon,
.delete-icon,
.edit-icon {
  margin-right: .75rem;
}


button {
  border: none;
  background-color: var(--white);
  padding: .5rem 1rem;
  border-radius: 10px;
}

.toggled-btns button {
  margin-right: -.5rem;
}

.delete-btn {
  color: var(--softred);
}





/* DELETE MODAL */

.delete-modal {
  padding: 1.5rem;
  background-color: var(--white);
  line-height: 1.35rem;
  margin: 1rem;
  border-radius: 15px;
  color: var(--grayishblue);
}

.delete-modal_title {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.delete-modal_btns {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.delete-modal_btn {
  color: var(--white);
  padding: 1rem 1.25rem;
  text-transform: uppercase;
  font-weight: 500;
}

.delete-modal_btn.yes {
  background-color: var(--softred);
}
.delete-modal_btn.no { 
  background-color: var(--grayishblue);
}

/* NEW COMMENT  */

.new-comment-container {
  margin: 1rem;
  background-color: var(--white);
  border-radius: 10px;

}

.new-comment {
  margin: .75rem;
  border: var(--lightgray) solid 1px;
  border-radius: 10px;
  min-height: 7rem;
  width: 90%;
  font-family: 'Rubik', sans-serif;
  padding: .75rem;
  resize: none;
}

.new-comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 1rem;
}

.new-comment-avatar {
  width: 2rem;
  height: 2rem;
}

.submit {
  background-color: var(--moderateblue);
  color: var(--white);
  padding: 1rem 1.75rem;
  text-transform: uppercase;
}


/* FOOTER */

.attribution { 
  font-size: 11px; 
  text-align: center;
  width: 100%;
  bottom: 10px;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}